<script lang="ts">

    import type {Breadcrumbs} from "../interfaces/Breadcrumb";
    import {ActivitiesBreadcrumb, HomeBreadcrumb} from "../interfaces/Breadcrumb";
    import Section from "../components/Section.svelte";
    import Icon from "@iconify/svelte";
    import {setTitle} from "../utils/setTitle";

    // Page information ======
    const title: string = "Mes activités"
    const description: string = "Veuillez sélectionner une activité à gérer"
    const breadcrumbs: Breadcrumbs = [HomeBreadcrumb, ActivitiesBreadcrumb]

    setTitle("Mes activités")

</script>

<Section {title} {description} {breadcrumbs}>
    <div class="flex w-full overflow-x-auto">
        <table class="table-hover table">
            <thead>
            <tr>
                <th>Réseau</th>
                <th>Lien du profil</th>
                <th class="ml-auto"/>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>LinkedIn</th>
                <td><a href="#">https://linkedin/</a></td>
                <td class="ml-auto">
                    <div class="ml-auto">
                        <div class="flex flex-row gap-4 justify-end mr-8">
                            <span class="tooltip tooltip-primary tooltip-top" data-tooltip="Modifier">
                                <Icon class="text-zinc-400 hover:text-blue-500 transition w-6 h-6"
                                      icon="tabler:pencil-cog"/>
                            </span>
                            <span class="tooltip tooltip-error tooltip-top" data-tooltip="Supprimer">
                                <Icon class="text-zinc-400 hover:text-red-500 transition w-6 h-6" icon="tabler:trash"/>
                            </span>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</Section>