<script lang="ts">

    import Card from "../components/Card.svelte";
    import {setTitle} from "../utils/setTitle";

    setTitle("Accueil")


</script>

<section class="flex flex-col space-y-8 w-9/12">
    <div class="flex flex-col space-y-4 bg-zinc-100 py-24 px-11 rounded-lg">
        <h2 class="text-6xl">Bonjour Mathis</h2>
        <p>Bienvenue dans votre espace personnel de gestion de la base de données.</p>
    </div>
    <p>Cette interface vous permet d'interagir avec la base de données des projets du laboratoire et vous permet
        également de mettre indirectement à jour le site web.</p>
    <div class="flex flex-row space-x-8">
        <Card title="Mes informations personnelles"
              description="Gérer les informations visibles sur ma page personnelle (bureaux, parcours professionnel...)"
              url="/information"
              icon="tabler:info-circle"
              placeholder="Gérer mes informations"/>
        <Card title="Mes activités"
              description="Contrôler les informations liées à mes activités au sein du laboratoire (projets, thèses...)"
              url="/activities"
              icon="tabler:activity"
              placeholder="Gérer mes activités"/>
        <Card title="Administration"
              description="Pour administrer tout" url="/administration"
              icon="tabler:adjustments"
              placeholder="Administration"/>
    </div>
</section>
