<script lang="ts">

    import type {Breadcrumbs} from "../../interfaces/Breadcrumb";
    import {CurriculumBreadcrumb, HomeBreadcrumb, InformationsBreadcrumb,} from "../../interfaces/Breadcrumb";
    import Section from "../../components/Section.svelte";
    import {setTitle} from "../../utils/setTitle";

    // Page information ======
    const title: string = "Mon CV"
    const description: string = "Mettez en valeur votre parcours professionnel en renseignant votre CV."
    const breadcrumbs: Breadcrumbs = [HomeBreadcrumb, InformationsBreadcrumb, CurriculumBreadcrumb]

    setTitle("Mon CV")

</script>

<Section {title} {description} {breadcrumbs}>
</Section>