<script lang="ts">
    import Card from "../../components/Card.svelte";
    import Section from "../../components/Section.svelte";
    import type {Breadcrumbs} from "../../interfaces/Breadcrumb";
    import {HomeBreadcrumb, InformationsBreadcrumb} from "../../interfaces/Breadcrumb";
    import {setTitle} from "../../utils/setTitle";

    // Page information ======
    const title: string = "Mes informations personnelles"
    const description: string = "Renseignez vos informations personnelles pour les rendre visibles aux autres membres du laboratoire."
    const breadcrumbs: Breadcrumbs = [HomeBreadcrumb, InformationsBreadcrumb]

    setTitle("Mes informations")

</script>

<Section {title} {description} {breadcrumbs}>
    <p>Mathis Mazoyer</p>
    <div class="grid grid-rows-2 gap-6 grid-flow-col justify-stretch">
        <Card title="Responsabilités"
              description="Renseignez vos responsabilités administratives et de recherche."
              icon="tabler:scale" url="/information/responsibilities"
              placeholder="Gérer mes responsabilités"/>
        <Card title="Réseaux sociaux"
              description="Indiquez votre présence sur les réseaux socoaux pour élargir vos cercles"
              icon="tabler:social" url="/information/socials"
              placeholder="Gérer mes réseaux sociaux"/>
        <Card title="Coordonnées"
              description="Maintenez à jour vos informations de contact (téléphone, fax...)."
              icon="tabler:phone" url="/information/contacts"
              placeholder="Gérer mes coordonnées"/>
        <Card title="Bureaux"
              description="Gérez les bureaux du laboratoire dans lesquels vous travaillez"
              icon="tabler:device-desktop" url="/information/offices"
              placeholder="Gérer mes bureaux"/>
        <Card title="CV" description="Mettez en valeur votre parcours professionnel en renseignat votre CV"
              icon="tabler:file-description" url="/information/cv"
              placeholder="Gérer mon CV"/>
    </div>
</Section>

