<script lang="ts">

    import type {Breadcrumbs} from "../../interfaces/Breadcrumb";
    import {HomeBreadcrumb, InformationsBreadcrumb, OfficesBreadcrumb,} from "../../interfaces/Breadcrumb";
    import Section from "../../components/Section.svelte";
    import {setTitle} from "../../utils/setTitle";

    // Page information ======
    const title: string = "Mes bureaux"
    const description: string = "Gérez les bureaux du laboratoire dans lesquels vous travaillez."
    const breadcrumbs: Breadcrumbs = [HomeBreadcrumb, InformationsBreadcrumb, OfficesBreadcrumb]

    setTitle("Mes bureaux")

</script>

<Section {title} {description} {breadcrumbs}>
</Section>