<script lang="ts">
    import Section from "../../components/Section.svelte";
    import type {Breadcrumbs} from "../../interfaces/Breadcrumb";
    import {HomeBreadcrumb, InformationsBreadcrumb, ResponsibilitesBreadcrumb} from "../../interfaces/Breadcrumb";
    import Search from "../../components/list/Search.svelte";
    import {setTitle} from "../../utils/setTitle";

    // Page information ======
    const title: string = "Mes responsabilités"
    const description: string = "Renseignez vos responsabilités au laboratoire et ailleurs..."
    const breadcrumbs: Breadcrumbs = [HomeBreadcrumb, InformationsBreadcrumb, ResponsibilitesBreadcrumb]

    setTitle("Mes responsabilités")

    let datas = [
        {
            title: "Refont du site",
            type: "Externe",
            description: "On refait le site !",
            dateStart: "05/12/2023",
            dateEnd: "12/05/2024"
        },
        {
            title: "Refont du site",
            type: "Externe",
            description: "On refait le site !",
            dateStart: "05/12/2023",
            dateEnd: "12/05/2024"
        },
        {
            title: "Refont du site",
            type: "Externe",
            description: "On refait le site !",
            dateStart: "05/12/2023",
            dateEnd: "12/05/2024"
        }
    ]

</script>

<Section {title} {description} {breadcrumbs}>
    <div class="flex w-full overflow-x-auto">
        <table class="table-hover table">
            <thead>
            <tr>
                <Search title="Titre"/>
                <Search title="Type"/>
                <Search title="Description"/>
                <Search title="Date de début"/>
                <Search title="Date de fin"/>
            </tr>
            </thead>
            <tbody>
            {#each datas as data}
                <tr>
                    <th>{data.title}</th>
                    <td>{data.type}</td>
                    <td>{data.description}</td>
                    <td>{data.dateStart}</td>
                    <td>{data.dateEnd}</td>
                </tr>
            {/each}
            </tbody>
        </table>
    </div>
</Section>
