<script lang="ts">
  import ErrorLine from "./ErrorLine.svelte";

  export let type: "text" | "email" | "password" | "number" | "datetime-local" | "color" | "range" | "url" | "search" | "tel" | "checkbox" | "radio" | "file" | "hidden" | "button" | "submit" | "reset" | "image" | "date" | "month" | "time" | "datetime" | "week" | undefined = undefined;
  export let error: string | undefined = undefined;
  export let placeholder: string;
  export let title: string;
  export let name: string;
  export let errors: any;
  export let list: string;
  export let items: string[] | undefined = undefined;

  let isError: any = undefined;

  function setError() {
    isError = eval("$errors?." + name.replace(".", "?."));
  }

  $: $errors && setError();


</script>

<div class="form-field w-full">
  <label class="block form-label" for="seller-idNumber">{title}</label>
  <input class="input max-w-full" name="{name}" placeholder="{placeholder}" type="{type ?? 'text'}">
  <ErrorLine error="{isError ?? error}" hidden="{!isError}" />
</div>
