<script lang="ts">
    import Icon from "@iconify/svelte";

    export let title: string;

</script>

<th class="border-r">
    <div class="flex flex-row justify-between border-none">
        <p class="border-none">{title ?? 'Sans titre'}</p>
        <div class="flex flex-row items-center space-x-1 border-none text-gray-400">
            <div class="flex flex-col border-none cursor-pointer hover:text-gray-500">
                <Icon class="border-none w-2 h-2" icon="tabler:triangle-filled"/>
                <Icon class="border-none w-2 h-2" icon="tabler:triangle-inverted-filled"/>
            </div>
            <Icon class="border-none w-4 h-4 transition cursor-pointer hover:text-gray-500" icon="tabler:filter-filled"/>
        </div>
    </div>
</th>
