<script lang="ts">

    import type {Breadcrumbs} from "../../../interfaces/Breadcrumb";
    import {ContactsBreadcrumb, HomeBreadcrumb, InformationsBreadcrumb,} from "../../../interfaces/Breadcrumb";
    import {object, ObjectSchema, string} from "yup";
    import Section from "../../../components/Section.svelte";
    import Modal from "../../../components/Modal.svelte";
    import Input from "../../../components/form/Input.svelte";
    import {createForm} from "felte";
    import {validator} from "@felte/validator-yup";

    // ===== Page information ======
    const title: string = "Mes coordonnées"
    const description: string = "Maintenez à jour vos informations de contact (téléphone, fax...)"
    const breadcrumbs: Breadcrumbs = [HomeBreadcrumb, InformationsBreadcrumb, ContactsBreadcrumb]

    // ===== Contact form ======
    const schema: ObjectSchema<any> = object({
        title: string().required("Un intitulé est requis"),
        phone: string().required("Un numéro de téléphone est requis"),
        fax: string()
    })

    const {form, errors} = createForm({
        extend: validator({schema}),
    })



</script>

<Section {title} {description} {breadcrumbs}>

    <label class="btn" for="modal-1">Ajouter des coordonnées</label>

</Section>

<Modal title="Ajouter des coordonnées">
    <form use:form>
        <Input type="text" name="title" title="Intitulé" errors="{errors}" placeholder="Exx"/>
        <Input type="text" name="title" title="Intitulé" errors="{errors}" placeholder="Exx"/>
        <Input type="text" name="title" title="Intitulé" errors="{errors}" placeholder="Exx"/>
    </form>
</Modal>
