<script lang="ts">

    import {link} from "svelte-routing";
    import Icon from "@iconify/svelte"

    export let title: string;
    export let description: string;
    export let url: string;
    export let placeholder: string;
    export let icon: string | undefined = undefined;

</script>

<div class="card">
    <div class="card-body h-full">
        <h2 class="card-header">{title}</h2>
        <p class="text-content2">{description}</p>
        <div class="card-footer mt-auto">
            <a use:link href="{url}" class="button-style">
                {#if icon}
                    <Icon icon="{icon}" class="w-5 h-5 mr-2"/>
                {/if}
                {placeholder}
            </a>
        </div>
    </div>
</div>

<style>

    .button-style {
        @apply border border-[#007BFF] text-[#007BFF] btn rounded-md hover:bg-[#007BFF] hover:text-white;
    }

</style>