<footer class="w-full max-w-[85rem] px-4 sm:px-6 lg:px-8 mx-auto bottom-0 pb-6">
    <div class="divider"/>
    <div class="text-center">
        <p class="flex-none text-xl font-semibold text-black">GeSYMME</p>
        <div class="mt-3">
            <p class="text-gray-500">GeSYMME, partie administrative de
                <a class="font-semibold text-blue-600 hover:text-blue-700 dark:text-blue-500 dark:hover:text-blue-400" href="https://www.univ-smb.fr/symme/" target="_blank">Symme</a>
                .
            </p>
            <p class="text-gray-500">© 2018 Université Savoie Mont Blanc, Laboratoire SYMME.</p>
        </div>
    </div>
</footer>