<script lang="ts">

    export let title: string = "Sans titre";

    let id: string = "modal-" + Math.random().toString(36)

</script>

<input class="modal-state" id="modal-1" type="checkbox"/>
<div class="modal">
    <label class="modal-overlay" for="modal-1"></label>
    <div class="modal-content flex flex-col gap-2">
        <label for="modal-1" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</label>
        <h2 class="text-xl">{title}</h2>
        <slot/>
        <div class="divider"/>
        <div class="flex gap-3">
            <button class="btn btn-primary btn-block">Enregistrer</button>
            <button class="btn">Annuler</button>
        </div>
    </div>
</div>