<script lang="ts">

    import {link} from "svelte-routing";
</script>

<div class="navbar shadow bg-[#8D0E2F] px-[12.5%]">
    <div class="navbar-start flex space-x-4">
        <a class="text-white text-md">GeSYMME</a>
        <a use:link href="/" class="link">Accueil</a>
        <div class="dropdown dropdown-hover">
            <a use:link href="/information" class="link my-2" tabindex="0">Mes informations</a>
            <div class="dropdown-menu dropdown-menu-bottom-center border">
                <a use:link href="/information/responsibilities" tabindex="-1" class="dropdown-item text-sm">Responsabilités</a>
                <a use:link href="/information/socials" tabindex="-1" class="dropdown-item text-sm">Réseaux sociaux</a>
                <a use:link href="/information/contacts" tabindex="-1" class="dropdown-item text-sm">Coordonnées</a>
                <a use:link href="/information/offices" tabindex="-1" class="dropdown-item text-sm">Bureaux</a>
                <a use:link href="/information/cv" tabindex="-1" class="dropdown-item text-sm">CV</a>
            </div>
        </div>
        <a use:link href="/activities" class="link">Mes activités</a>
    </div>
    <div class="navbar-end flex space-x-4">
        <a class="link">Administration</a>
        <button class="btn btn-outline rounded-md text-white hover:text-gray-700">Déconnexion</button>
    </div>
</div>

<style>

    .link {
        @apply cursor-pointer text-gray-300 opacity-75 hover:text-white transition
    }

</style>