<script lang="ts">

    import type {Breadcrumbs} from "../interfaces/Breadcrumb";
    import {link} from "svelte-routing";

    export let title: string = "Sans titre";
    export let description: string = "Sans description";
    export let breadcrumbs: Breadcrumbs = [];

</script>

<section class="flex flex-col space-y-2 w-9/12 h-full">
    {#if breadcrumbs.length > 0}
        <div class="-ml-2 breadcrumbs text-sm">
            <ul>
                {#each breadcrumbs as breadcrumb}
                    <li>
                        {#if breadcrumb.url && breadcrumbs.indexOf(breadcrumb) < breadcrumbs.length - 1}
                            <a use:link href="{breadcrumb.url}">{breadcrumb.title}</a>
                        {:else}
                            {breadcrumb.title}
                        {/if}
                    </li>
                {/each}
            </ul>
        </div>
    {/if}
    <div class="flex flex-col space-y-6">
        <div class="flex flex-col space-y-2">
            <h1 class="text-3xl font-bold">{title}</h1>
            <p>{description}</p>
        </div>
        <slot/>
    </div>
</section>