<script>
    import Navbar from "./components/Navbar.svelte";
    import Home from "./routes/Home.svelte";
    import Footer from "./components/Footer.svelte";
    import Informations from "./routes/information/Informations.svelte";
    import {Route, Router} from "svelte-routing";
    import Responsabilites from "./routes/information/Responsabilites.svelte";
    import Socials from "./routes/information/Socials.svelte";
    import Curriculum from "./routes/information/Curriculum.svelte";
    import Offices from "./routes/information/Offices.svelte";
    import Contacts from "./routes/information/contacts/Contacts.svelte";
    import Activities from "./routes/Activities.svelte";
    import Database from "./services/Database";
</script>

<div class="flex flex-col h-screen w-full justify-between">
    <Navbar/>
    <main class="flex justify-center items-center h-full w-full py-4">
        <Router>
            <Route path="/" component={Home}/>
            <!-- Information -->
            <Route path="/information" component={Informations}/>
            <Route path="/information/responsibilities" component={Responsabilites}/>
            <Route path="/information/socials" component={Socials}/>
            <Route path="/information/cv" component={Curriculum}/>
            <Route path="/information/offices" component={Offices}/>
            <Route path="/information/contacts" component={Contacts}/>
            <!-- Activities -->
            <Route path="/activities" component={Activities}/>
        </Router>
    </main>
    <Footer/>
</div>
